doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title PageCloud Statrix 
    script(src='/webpack/libs.js')
    link(href='/style/style.css', rel='stylesheet' )
    block head_append
      script(src='/webpack/index.js')
  body
    .container
      .row#top
        .col-xs-12
          h1 PageCloud Statrix

      .row
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse")
                span.sr-only.
                  Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
                a.navbar-brand(href="#").
                  Statrix
            .collapse.navbar-collapse#navbar-collapse
              ul.nav.navbar-nav
                li: a(href="#unique") Unique
                li: a(href="#bots") Bots
                li: a(href="#") Hi
                li: a(href="#") Hi
                li: a(href="#") Hi



      .row#main
        .col-xs-12
          block main
            section#unique
            section#referrers
            section#geo
            section#bots
            section#pages.row
              .dummy.col-md-2

      .row#footer
        .col-xs-12.copy.text-center
          p.
            MIT 2016

          block footer_append
    script(src='http://0.0.0.0:35729/livereload.js')
