doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title PageCloud Statrix 
    script(src='/js/libs.js')
      link(href='/style.css', rel='stylesheet' )
    block head_append
      script(src='/js/index.js')
        body
    .container
      .row#top
        .col-xs-12
          h1 PageCloud Statrix

      .row#main
        .col-xs-12
          block main 
            section#unique
            section#referrers
            section#geo
            section#bots

      .row#footer
        .col-xs-12.copy.text-center
          p.
            MIT 2016

          block footer_append
